<po-page-default [p-title]="this.literals.title" [p-actions]="pageActions">
  <form [formGroup]="customerForm">
    <div class="po-sm-12">
      <po-divider [p-label]="literals.fields.form['customerDetails']"> </po-divider>
    </div>
    
    <div class="po-sm-12 po-md-12 po-lg-6 po-xl-6 no-padding">
      <po-input
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
        formControlName="customerName"
        name="customerName"
        p-clean
        [p-label]="this.literals.fields.form['customerName']"
        p-maxlength="100"
        [p-readonly]="readonly"
        p-required
      > </po-input>
    </div>

    <div class="po-sm-12 po-md-12 po-lg-6 po-xl-6 no-padding">
      <po-input
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
        formControlName="email"
        name="email"
        p-clean
        [p-label]="this.literals.fields.form['email']"
        p-maxlength="100"
        [p-readonly]="readonly"
        p-required
      > </po-input>
    </div>

    <div class="po-sm-12 po-md-12 po-lg-6 po-xl-6 no-padding">
      <po-input
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
        formControlName="phone"
        name="phone"
        p-clean
        [p-label]="this.literals.fields.form['phone']"
        p-maxlength="20"
        [p-readonly]="readonly"
        p-required
      > </po-input>
    </div>

    <div class="po-sm-12">
      <po-divider [p-label]="literals.fields.form['localDetails']"> </po-divider>
    </div>

    <div class="po-sm-12 po-md-12 po-lg-12 po-xl-4 no-padding">
      <po-combo
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
        formControlName="countryId"
        name="countryId"
        p-clean
        [p-disabled]="readonly"
        [p-filter-service]="countryIdService"
        [p-label]="this.literals.fields.form['countryId']"
        p-required
      > </po-combo>
    </div>

    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-4 no-padding">
      <po-combo
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
        formControlName="stateId"
        name="stateId"
        (p-change)="stateIdChange($event)"
        p-clean
        [p-disabled]="readonly"
        [p-filter-service]="stateIdService"
        [p-label]="this.literals.fields.form['stateId']"
        p-required
      > </po-combo>
    </div>

    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-4 no-padding">
      <po-combo
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
        formControlName="cityId"
        name="cityId"
        p-clean
        [p-disabled]="readonly"
        [p-filter-service]="cityIdService"
        [p-label]="this.literals.fields.form['cityId']"
        p-required
      > </po-combo>
    </div>

    <div class="po-sm-12">
      <app-map
        formControlName="address"
        dataType="marker"
        [label]="this.literals.fields.form['address']"
      > </app-map>
    </div>

  </form>
</po-page-default>
