<po-page-default [p-title]="this.literals.title" [p-actions]="pageActions">
  <form [formGroup]="stateForm">
    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
      <po-input
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
        formControlName="federativeUnit"
        name="federativeUnit"
        p-clean
        [p-label]="this.literals.fields.form['federativeUnit']"
        p-maxlength="2"
        [p-readonly]="readonly"
        p-required
      > </po-input>
    </div>

    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
      <po-input
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
        formControlName="stateName"
        name="stateName"
        p-clean
        [p-label]="this.literals.fields.form['stateName']"
        p-maxlength="60"
        [p-readonly]="readonly"
        p-required
      > </po-input>
    </div>

    <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
      <po-input
        class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
        formControlName="ibgeCode"
        name="ibgeCode"
        p-clean
        [p-label]="this.literals.fields.form['ibgeCode']"
        p-maxlength="60"
        [p-readonly]="readonly"
      > </po-input>
    </div>

  </form>
</po-page-default>
